#if($authors)

#foreach($author in $authors)
  <p><a href="/authors/$author.getId()/edit">$author.getName()</a></p>
  <p>$author.getRole()</p>
  <br>
  <br>
#end

#else
  <p>No author has been created yet</p>
#end
