<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
    <script src="/js/jquery.js"></script>
    <script src="/js/scripts.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>International News - Authors Pubblication Portal</h1>

      <div class="row">

        <div class="col-md-2 navBar">

          <form action="/hub" method="get">
            <button type="submit" class="btn btn-success" id="homepageBtn">Homepage</button>
          </form>

          <form action="/articles/new" method="get">
            #if($author.getCanCreateArticle())
              <button type="submit" class="btn btn-success" id="newArticleBtn">Create a new article</button>
            #else
              <button type="submit" class="btn btn-success disabled" id="newArticleBtn">Create a new article</button>
            #end
          </form>

          <form action="/articles" method="get">
            <button type="submit" class="btn btn-success" id="articlesBtn">View all the articles</button>
          </form> 


          <form action="/authors/new" method="get">
            #if($author.getCanCreateAuthor())
              <button type="submit" class="btn btn-success" id="newAuthorBtn">Create a new author</button>
            #else
              <button type="submit" class="btn btn-success disabled" id="newAuthorBtn">Create a new author</button>
            #end
          </form>


          <form action="/authors" method="get">
            #if($author.getCanEditAuthor())
              <button type="submit" class="btn btn-success" id="authorsBtn">Edit the authors</button>
            #else
              <button type="submit" class="btn btn-success disabled" id="authorsBtn">Edit the authors</button>
            #end
          </form>

          <br>
          <br>
          <a class="btn btn-success" href="/home" role="button" id="homePageBtn" target="_blank">Visit the readers site</a>
          <p>&uarr;</p>
          <p>This button brings you to the public site. This site is accessible without authentication and all the articles are displayed there. It is the site for the readers.</p>
        </div>

        #parse( $template )

      </div>


    </div>
  </body>
</html>
